<body>
  <h1 class="title">Bienvenidos a la librería mágica</h1>
  
  <div>
      
  <div class="container" id="Introduction"> 
  
  <div>Imagina un lugar donde la imaginación cobra vida, donde las historias se despliegan ante tus ojos y donde la aventura está a la 
      vuelta de cada página. ¡Ese lugar es la Librería Mágica! </div><br>
  <div>
      En la Librería Mágica, encontrarás libros que te transportarán a mundos fantásticos, te enseñarán cosas increíbles y 
      te llenarán de risas. Tenemos libros para todas las edades y gustos, desde cuentos clásicos hasta aventuras 
      emocionantes y libros informativos que te ayudarán a descubrir el mundo.
  </div> <br>
      
  <div>Pero la Librería Mágica no es solo un lugar para leer. Aquí, la magia se hace realidad. Nuestros libros son más que 
      simples páginas impresas, son puertas a mundos nuevos que esperan ser explorados. Con cada libro que abres, 
      te embarcas en una aventura única que te llenará de emoción y aprendizaje.</div> <br>
      
  </div>
  </div>
  
  <div class="container" id="Home2">
  <div id="textHome">Ven a visitarnos y descubre la magia que te espera en la Librería Mágica <br><br>
       ¡Prepárate para vivir experiencias inolvidables! </div> 
  <div>
      <img src="../../../assets/StockCake-Children Reading Outdoors_1718308216.jpg" alt="children Reading"> 
  </div>
  </div>
  
  <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/book10.jpg" class="d-block w-100" alt="Libro N° 1">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/Books/book14.jpg" class="d-block w-100" alt="Libro N° 2">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/Books/book17.jpg" class="d-block w-100" alt="Libro N° 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </body>