footer {
    background-color:#49494b; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border-top: 2px solid #f8f8f8; /* Borde superior */
    position: relative;
    bottom: 0px;
    font-family:"Righteous", sans-serif;
    font-style: italic;
  }
