<nav>
  <nav class="navbar navbar-expand-lg border-bottom border-body" id="NavBarEdit">
      <div class="container-fluid">
        <a class="navbar-brand"><img class="logo" src="../../../assets/logosinfondo.png" width="60px" height="60px"></a>
        <button class="navbar-toggler bg-gradient " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="sobrenosotros">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="shop">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contactenos">Contáctenos</a>
            </li>
            <li class="nav-item">
              
            </li>           
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Hola, Inicia Sesión
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#"></a></li>
                <a class="nav-link" routerLink="login"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M185-80q-17 0-29.5-12.5T143-122v-105q0-90 56-159t144-88q-40 28-62 70.5T259-312v190q0 11 3 22t10 20h-87Zm147 0q-17 0-29.5-12.5T290-122v-190q0-70 49.5-119T459-480h189q70 0 119 49t49 119v64q0 70-49 119T648-80H332Zm148-484q-66 0-112-46t-46-112q0-66 46-112t112-46q66 0 112 46t46 112q0 66-46 112t-112 46Z"/></svg>    Iniciar Sesión</a>
                <li><a  class="nav-link" routerLink="crear usuario"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M80-160v-112q0-33 17-62t47-44q51-26 115-44t141-18q30 0 58.5 3t55.5 9l-70 70q-11-2-21.5-2H400q-71 0-127.5 17T180-306q-9 5-14.5 14t-5.5 20v32h250l80 80H80Zm542 16L484-282l56-56 82 82 202-202 56 56-258 258ZM400-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm10 240Zm-10-320q33 0 56.5-23.5T480-640q0-33-23.5-56.5T400-720q-33 0-56.5 23.5T320-640q0 33 23.5 56.5T400-560Zm0-80Z"/></svg>     Registrate aqui</a></li>
              </ul>
            </li> 
          </ul>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Carrito"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg> <span id="cart_menu_num" data-action="cart-can" class="badge rounded-circle">{{ productsNGRX.length }}</span> 
            </a>
          </li>
        </div>
      </div>
    
      <div><ul>
        <li class="carritoFlotante">
  
       </li>
      </ul>
    </div>

  <div class="pe-3 text-info">
    
    @if (loginservice.isLogin()) {
      <button class="boton-flotante" (click)="loginservice.logout()">
        <i class="fas fa-arrow-up"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M806-440H320v-80h486l-62-62 56-58 160 160-160 160-56-58 62-62ZM600-600v-160H200v560h400v-160h80v160q0 33-23.5 56.5T600-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h400q33 0 56.5 23.5T680-760v160h-80Z"/></svg></i>
      </button>
    }

  </div>

  
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
 