@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
*, *::before,*::after{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
  }
  

:root {
    --my-color: #606c38;
    --personalizado: rgb(255, 254, 196);
  }



p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

a{
    padding: 2px;
    margin-left: 50px;
    margin-right: 50px;
}



  .tangerine-bold {
    font-family: "Tangerine";
    font-weight:bolder;
    font-size: 30px;
    font-style: normal;
    text-align: center;
  }
  

 
/* .navbar.navbar-expand-lg{
  background-color: #fff7c3;
}
 */
  .bg-my-color {
    background-color: var(--my-color);
    color:rgb(246, 246, 246);
  }



  main {
    margin: 60px;
  }
  


  /* sector home */

/* .fondo{
  background-image: url('../src/assets/fondologin.png');
} */



.bi {
  font-size: 30px;
  color: #110402;
}