/* not-found.component.css */
.container {
    margin-top: 100px;
  }
  
  .display-1 {
    font-size: 6rem;
    margin-bottom: 30px;
  }
  
  .lead {
    font-size: 2rem;
    margin-bottom: 20px;
  }