
<body>

<div class="d-lg-flex justify-content-center ">
    <form
    
      [formGroup]="credentialsForm"
      (ngSubmit)="handleSubmit()"
      class="py-5 col-lg-6 backe"
    >
      <div class="mb-3">
        <label for="inputEmail" class="form-label tangerine-bold">Usuario</label>
        <input
          type="email"
          class="form-control  fondoinput"
          id="inputEmail"
          aria-describedby="emailHelp"
          formControlName="username"
        />
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label tangerine-bold">Contraseña</label>
        <input
          type="password"
          class="form-control fondoinput"
          id="inputPassword"
          formControlName="password"
          autocomplete="on"
        />
      </div>
      <button type="submit" class="btn btn-outline-light bg-my-color col-12">
        Log In
      </button>
    </form>
  </div>

</body>