body{
  background-color: rgb(253, 231, 199);
}


div#milogin {
    background:  #b49e79dc;
    width: 363px;
    margin-left: calc(50% - 180px);
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    color: rgb(22, 19, 19);
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Madimi One", sans-serif;
    font-style: italic;
  }
  h6 {

    color: rgb(22, 19, 19);
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Madimi One", sans-serif;
    font-style: italic;
  }

  .title {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    padding: 1%;
    text-align: center;
    position:relative;
    z-index: 1;       
  }
  