body{
    background-image: url('../../../assets/Other/Bild4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: saturate(60%);
}

div#milogin {
    background: #bc6c25;
    width: 363px;
    margin-left: calc(50% - 180px);
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    color: white;
    justify-content: center;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }

  .title {
    padding: 1%;
    text-align: center;
    font-family: 'Tangerine', sans-serif;
    font-size: 500%;
    font-weight: 600;
    color: #110402;
  }