
<body>
  <br><br>
  <h1 class="title">Animate!, dejanos un mensaje:</h1>
  <br><br>
 
<div class="cuerpo d-lg-flex justify-content-center" >
  <form class="py-5 col-lg-6 backe" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Nombre:</label>
        
        <input    class="form-control  fondoinput"
        id="inputEmail"
        aria-describedby="emailHelp" type="text" formControlName="nombre">
        
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label ">Correo:</label>
        
        <input    class="form-control  fondoinput"
        id="inputEmail"
        aria-describedby="emailHelp" type="text" formControlName="correo">
        
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">¿Qué nos quieres decir?:</label>
        <textarea  class="form-control  fondoinput"
        id="inputEmail" type="text" formControlName="mensaje"></textarea>
       
        
      </div>

      <button type="submit" class="btn btn-outline-light bg-my-color col-12">
        Enviar
      </button>
    </form>
  </div>
  <br><br><br>
</body>