<body>
    <h1 class="title">¿Quienes somos?</h1>
    
    <div>
        
    <div class="container" id="Introduction"> 
    
    <div>En "La librería Magica", somos apasionados por la magia de los libros y creemos en el poder transformador de la lectura en la vida de los niños. Nuestra librería nació de la ilusión de crear un espacio donde cada niño pueda descubrir el placer de sumergirse en historias fascinantes y aprender mientras se divierte. <br><br>

        Nos enorgullece ofrecer una cuidadosa selección de libros que no solo entretienen, sino que también educan y estimulan la imaginación.<br><br> Nuestro equipo está comprometido en ayudar a los pequeños lectores a encontrar el libro perfecto que los acompañe en sus aventuras literarias, fomentando así el amor por la lectura desde una edad temprana.
        
        <br><br>En "La librería Magica", nos esforzamos por crear un ambiente acogedor y mágico donde cada visita se convierta en una experiencia enriquecedora para toda la familia. Estamos aquí para inspirar, guiar y compartir la maravilla de explorar el mundo a través de los libros.
        
        Únete a nosotros en La librería Magica" y descubre un universo de historias que inspiran, educan y encantan a grandes y pequeños por igual. </div><br>
   </div>
   
    </div> 
    <h1 class="title">Nuestro Logo</h1>
    <div>
        <img src="../../../assets/logoconfondo.png" alt="children Reading" width="300px" height="300px" class="childrenReading"> 
    </div>
    <div class="container" id="Home2">
        <div id="textHome"> El zorro con el libro y hojas de otoño sobre una librería puede capturar la esencia de la educación continua, la conexión con la naturaleza, y la atmósfera acogedora de un espacio dedicado a la lectura y el conocimiento.</div> 

        </div>
        
    
    
    </body>