<body> <br>

    <div class="container">
    <h1 class="title">Realiza tu pago</h1> <br>
  
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-dark" type="button" id="Formbutton" (click)="handleClickGoBack()">Volver a nuestros productos</button>
      </div> <br>
  
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="CreatePaymentForm">
      <div class="form-group">
        <label for="exampleInputTarjeta" class="form-label">Número de la tarjeta</label>
        <input type="number" class="form-control" id="exampleInputTarjeta" formControlName="card_number" autocomplete="given-card_number">
      </div>
    
      <div class="form-group">
        <label for="exampleInputcvc" class="form-label">CVC</label>
        <input type="number" class="form-control" id="exampleInputcvc" formControlName="cvc" autocomplete="family-name">
      </div>
    
      <div class="form-group">
        <label for="exampleInputExpDate" class="form-label">Fecha de Expiración</label>
        <input type="date" class="form-control" id="exampleInputExpDate" formControlName="expiration_date" autocomplete="expDate">
      </div>
    
      <div class="form-group">
        <label for="exampleInputEmail" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail" formControlName="email_address" autocomplete="new-Email">
      </div> <br>
    
      <button type="submit" class="btn btn-light">Pagar</button>
    
    </form> <br>
  </div>
    </body>
    