body{
    background-image: url('../../../assets/Other/Bild4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: saturate(60%);
}

.CreatePaymentForm {
  background: #b49e79dc;
  width: 363px;
  margin-left: calc(50% - 180px);
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Madimi One", sans-serif;
  font-style: italic;
  }

  .title {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    padding: 1%;
    text-align: center;
    position:relative;
    z-index: 1; 
}